.users-list {
  background-color: #172242; /* New background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-height: 500px; /* Set a maximum height */
  overflow-y: auto; /* Enables vertical scrolling */
}

.user-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.username {
  color: #fff; /* Ensures text is visible on dark background */
  font-weight: bold;
}

.user-actions button {
  background-color: #41D0C8; /* Button color */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.user-actions button:hover {
  background-color: #37b4ad; /* Darker color on hover */
}

/* Scrollbar customization for WebKit browsers */
.users-list::-webkit-scrollbar {
  width: 8px;
}

.users-list::-webkit-scrollbar-thumb {
  background-color: #41D0C8;
  border-radius: 4px;
}

.users-list::-webkit-scrollbar-track {
  background-color: #222;
}
