.dropdownContainer {
    position: relative; /* Necessary for absolute positioning of dropdownMenu */
    display: inline-block;
    overflow: visible;
  }
  
  .dropdownButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    
  }
  
  .dropdownButton svg {
    fill: #FFFFFF; /* Ensure SVG icon is visible */
  }
  
  .dropdownMenu {
    position: absolute;
    top: calc(100% + 5px); /* Position just below the button */
    left: 0;
    background-color: #172242; /* Dark background color */
    color: #F7F5FF; /* Text color */
    border-radius: 4px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 10000; /* Higher than other elements */
    min-width: 200px;
    overflow: visible;
  }
  
  .dropdownMenu ul {
    list-style: none;
    margin: 0;
    padding: 0; /* Remove default padding */
  }
  
  .dropdownMenu li {
    padding: 10px 16px; /* Adjusted padding for better appearance */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .dropdownMenu li:hover {
    background-color: #575757; /* Hover effect */
    translate: translateY(-5px);
  }

  .book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow: visible;
    height: calc(100vh - 160px); /* Adjust as per header height */
    padding: 0 20px;
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Ensure lower z-index than the dropdown */
  }

  