body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #19191B;
  color: #FFFFFF;
  overflow-y: hidden;
}


.page-title {
  text-align: left;
  margin: 40px 0;
  font-size: 24px;
  margin-left: 40px;
}

.page-title {
  font-size: 24px;
  color: #ffffff;
}

.header-left {
  position: absolute;
  right: 20px;
  top: 20px;
}


.title-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.title-button svg {
  width: 24px;
  height: 24px;
}

.title-button:hover svg {
  fill: #1b9c9c; 
}


.search-bar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #172242;
  padding: 10px 0;
  margin-bottom: 20px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 14px;
  overflow: visible;
  position: relative;
  z-index: 2;
}


.search-bar {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 14px;
  box-shadow: none;
  background-color: #445A9A;
  color: #FFFFFF;
  border: none;
  margin-left: 10px;
}

.search-bar input::placeholder {
  color: #bbb;
}

.search-bar input:focus {
  outline: none;
}

.dropdown-container {
  margin-left: 10px;
  flex-shrink: 0;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-button svg {
  fill: #FFFFFF;
}

.button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  flex-shrink: 0;
}

.button svg {
  fill: #FFFFFF;
  width: 24px;
  height: 24px;
}

.button:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.heart-button-container {
  margin-left: 10px;
  text-align: right;
  flex-shrink: 0;
}

.heart-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  height: calc(100vh - 160px);
  padding: 0 20px;
}


.book-item {
  margin: 10px;
}

.card {
  position: relative;
  width: 200px;
  max-width: 100%;
  height: 300px;
  background-color: #172242;
  border-radius: 10px;
  padding: 15px;
  overflow: visible;
  display: flex;
  flex-direction: column;
  text-align: left;
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.book-title {
  font-size: 12px;
  font-weight: 600;
  width: 70%;
  color: #FFFFFF;
  margin: 0;
}

.card-details {
  font-size: 14px;
  color: #bbbbbb;
  margin: 5px 0 0;
}

.card-details .author,
.card-details .year {
  display: block;
  font-size: 10px
}
.book-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: 75.5%;
  background: #445A9A;
  color: white;
  padding: 10px;
  font-size: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  overflow-y: auto; 
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  text-transform: lowercase;
}

.book-item:hover .book-description {
  opacity: 1;
}

.favorite-icon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.card-image {
  margin: 15px 0;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #445A9A;
  border-radius: 10px;
}

.card-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 10px;
  color: #FFFFFF;
}

.genre {
  font-size: 10px;
  color: #bbbbbb;
  margin-bottom: 2%;
  max-width: 100%;
}

.rating {
  display: flex;
  align-items: center;
  max-width: 100%;
}

.rating svg {
  fill: #FFE45A;
  width: 18px;
  height: 18px;
  margin-right: 5px;
}

.rating span {
  font-size: 10px;
  color: #FFFFFF;
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #172242;
}

::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 50%;
  margin: 2px 0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #445A9A;
}

.scrollbar-container {
  position: absolute;
  top: 167px;
  right: 0;
  height: calc(100vh - 167px);
  width: 12px;
  z-index: 1;
}

.scrollbar {
  width: 12px;
  height: 100%;
  background: #172242;
}


.book-description::-webkit-scrollbar {
  width: 8px;
}

.book-description::-webkit-scrollbar-track {
  background: #172242;
}

.book-description::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 2px;
}

.book-description::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
}
