.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #19191B; /* Match the background color */
  }
  
  .pageTitle {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: bold;
  }
  
  .loginButtonContainer {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .loginButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    height: 1px;
    background-color: #EAEFF5;
    margin: 0 auto;
  }
  